<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans.xsd">

    <bean name="userDao" class="dao.Impl.UserDaoImpl"/>
    <bean name="groupDao" class="dao.Impl.GroupDaoImpl"/>
    <bean name="driverCourseDao" class="dao.Impl.DriverCourseDaoImpl"/>

    <bean id="userService" class="service.Impl.UserServiceImpl" autowire="constructor">
        <constructor-arg index="0" ref="userDao"/>
    </bean>

    <bean id="groupService" class="service.Impl.GroupServiceImpl" autowire="constructor">
        <constructor-arg index="0" ref="groupDao"/>
    </bean>

    <bean id="driverCourseService" class="service.Impl.DriverCourseServiceImpl" autowire="constructor">
        <constructor-arg index="0" ref="driverCourseDao"/>
    </bean>
</beans>